---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <nav class="flex justify-center gap-4 my-6">
      <a class="btn btn-primary" href="species_iframe/Adelie" target="penguinFrame">Adelie</a>
      <a class="btn btn-secondary" href="species_iframe/Gentoo" target="penguinFrame">Gentoo</a>
      <a class="btn btn-accent" href="species_iframe/Chinstrap" target="penguinFrame">Chinstrap</a>
    </nav>

    <iframe
      src="species_iframe/Adelie"
      name="penguinFrame"
      style="width:100%; min-height:600px;"
      onload="resizeIframe(this)">
</iframe>

    <script>
      function resizeIframe(iframe) {
        iframe.style.height =
          iframe.contentWindow.document.body.scrollHeight + "px";
      }
    </script>
</Layout>